* {
    box-sizing: border-box;
    text-decoration: none;
}

html {
    height: 100%;
    border: 10px solid black;
    border-radius: 3px;
}

body {
    background-image: -webkit-linear-gradient(rgb(103, 200, 239) 10%, rgb(173, 223, 211) 60%);
}

.container .row .col {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin: 15px;
}

nav {
    background-image: -webkit-linear-gradient(rgb(231, 189, 98), rgb(255, 255, 255) 50%, rgb(209, 143, 56));
    border: solid black .25px;
    border-radius: 5px;
    margin-bottom: 40px;
    margin-top: 10px;
    font: 15px 'Gill Sans', 'Gill Sans MT','Trebuchet MS', sans-serif;
    font-weight: 1000;
}

h1 {
    text-align: center;
    text-shadow: 5px 5px 30px white;
    font: 50px times;
    font-weight: 700;
}

h2 {
    text-align: center;
    text-shadow: 5px 5px 20px white;
    font: 15px times;
    font-style: italic;
}

a:link {
    text-decoration: none;
    display: inherit;
}

a:visited {
    display: inherit;
    color: inherit;
}

a:hover {
    color: blue;
}

a:active {
    color: darkblue;
    font-style: italic;
}